<section class="from-the-blog">
    <div class="section-title">
        From The Blog
    </div>
    <div class="container">
        <div class="info-column">
            <figure class="from-the-blog-img">
                <img src="images/blog1.png" alt="">
            </figure>
            <h3>GERMAN FASHION WIZARDS</h3>
            <p class="author">By James Steed   |   Fashion</p>
            <!--deleted al the br in .desc div-->
            <div class="desc">
                This week we had the chance of interviewing two creative artists from Germany.
                These guys are simply amazing at what they do with the European fashion scene and this year at Paris
                Fashion Week they introduced their new collection.
            </div>
            <a href="#" class="read-more">READ MORE</a>
        </div>

        <div class="info-column">
            <figure class="from-the-blog-img">
                <img src="images/blog2.png" alt="">
            </figure>
            <h3>ANNE STEWART’S SUNGLASSES</h3>
            <p class="author">By Marry Beard   |   Trending</p>
            <!--deleted al the br in .desc div-->
            <div class="desc">
                Just amazing! That is how i can describe this person. So creative,so inspiring. I was watching her
                create in her small studio in London and i was amazed at how every little detail gets included in her
                creations. From frames,to glass thickness she blew me away...
            </div>
            <a href="#" class="read-more">READ MORE</a>
        </div>
    </div>
</section>