
<header class="header">

    <div class="header-wrapper">
        <div class="header-content">
            <div class="logo">BRAND <span>LY</span></div>
            <input type="checkbox" id="check-menu">
            <label for="check-menu" class="burger-label"></label>
            <nav class="navigation">
                <a href="#" class="nav-link">Home</a>
                <a href="#" class="nav-link">Shop</a>
                <a href="#" class="nav-link">Brands</a>
                <a href="#" class="nav-link">Blog</a>
                <a href="#" class="nav-link">About</a>
                <a href="#" class="nav-link">Contact</a>
            </nav>
            <!--was wrapped in .burger-button-->

            <div class="burger-line first-l"></div>
            <div class="burger-line second-l"></div>
            <div class="burger-line third-l"></div>
            <div class="burger-line fourth-l"></div>
                <!--if possible, change to 2 instead of 4, adding :before,:after-->
        </div>
    </div>
    <div class="slider owl-carousel owl-theme">
        <div class="owl-lazy item slide-item" data-src="images/bg/slider2.png">
            <div class="item-caption">
                <p class="collection">Spring / Summer Collection</p>
                <p class="discount">UP TO 60% DISCOUNT ON NEW ARRIVALS</p>
                <p class="tagline">TRENDING NEW ITEMS, FROM CREATORS AROUND THE WORLD</p>
                <a href="#" class="shop-now-btn">SHOP NOW</a>
            </div>
        </div>
        <div class="owl-lazy item slide-item" data-src="images/bg/man3.jpg">
            <div class="item-caption">
                <p class="collection">Spring / Summer Collection</p>
                <p class="discount">UP TO 60% DISCOUNT ON NEW ARRIVALS</p>
                <p class="tagline">TRENDING NEW ITEMS, FROM CREATORS AROUND THE WORLD</p>
                <a href="#" class="shop-now-btn">SHOP NOW</a>
            </div>
        </div>
        <div class="owl-lazy item slide-item" data-src="images/bg/wm3.png">
            <div class="item-caption">
                <p class="collection">Spring / Summer Collection</p>
                <p class="discount">UP TO 60% DISCOUNT ON NEW ARRIVALS</p>
                <p class="tagline">TRENDING NEW ITEMS, FROM CREATORS AROUND THE WORLD</p>
                <a href="#" class="shop-now-btn">SHOP NOW</a>
            </div>
        </div>
        <div class="owl-lazy item slide-item" data-src="images/bg/summer.jpg">
            <div class="item-caption">
                <p class="collection">Spring / Summer Collection</p>
                <p class="discount">UP TO 60% DISCOUNT ON NEW ARRIVALSu</p>
                <p class="tagline">TRENDING NEW ITEMS, FROM CREATORS AROUND THE WORLD</p>
                <a href="#" class="shop-now-btn">SHOP NOW</a>
            </div>
        </div>
    </div>
    <div class="owl-dots">
        <div class="owl-dot"></div>
        <div class="owl-dot"></div>
        <div class="owl-dot"></div>
    </div>


</header>

