<section class="latest-products">
    <div class="section-title">
        Latest Products
    </div>
    <div class="container">
        <div class="item-list">
            <div class="item-group">
                <figure class="item-img">
                    <img src="imaes/men.png" alt="img">
                </figure>
                <div class="cover">
                    <div class="collection-title">Men
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="item-group">
                <figure class="item-img">
                    <img src="imaes/woman.png" alt="img">
                </figure>
                <div class="cover">
                    <div class="collection-title">Women</div>
                </div>
            </div>
            <div class="item-group">
                <figure class="item-img">
                    <img src="imaes/watches.png" alt="img">
                </figure>
                <div class="cover">
                    <div class="collection-title">Watches</div>
                </div>
            </div>
            <div class="item-group bottom-img">
                <figure class="item-img bottom-img">
                    <img src="imaes/40%25off.png" alt="img">
                </figure>
                <div class="cover">
                    <div class="collection-title-bottom">40% Off <br>New Autumn<br> Collection</div>
                </div>
            </div>
            <div class="item-group bottom-img">
                <figure class="item-img bottom-img">
                    <img src="imaes/megasale.png" alt="img">
                </figure>
                <div class="cover">
                    <div class="collection-title-bottom second-ctb">MEGA SALE<br> ON ITEMS FROM<br> SPIRIT COLLECTION</div>
                </div>
            </div>
        </div>
    </div>
</section>