
<section class="trending-items">

        <div class="section-title">
            Trending Items
        </div>
        <div class="slider owl-carousel owl-theme">
            <div class="item">

                <div class="item-content">
                    <figure class="item-image">
                        <img src="/images/trending.png" alt="trending-img">
                    </figure>
                    <div class="item-description">
                        <div class="item-caption">NATHAN STEWART JACKET</div>
                        <p class="collection-caption">Summer/Autumn Collection</p>
                        <p>
                            Classic Nathan Stewart Jacket from his latest collection.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines,lovely texture,it suits almost everybody.<br>
                            It comes in six different colors,and all sizes.
                        </p>
                        <p>
                            FASHION TIP:<br>
                            With this jacket,Nathan Stewart sunglasses go hand in hand!
                        </p>
                        <div class="size-list common">
                            <span class="size-item">M</span>
                            <span class="size-item">L</span>
                            <span class="size-item">XL</span>
                            <span class="size-item">XXL</span>
                        </div>
                        <div class="trending-btns common">
                            <a href="#" class="shop-now-btn t-btn">SHOP NOW</a>
                            <a href="#" class="side-guide-btn t-btn">SIZE GUIDE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="item-content">
                    <figure class="item-image">
                        <img src="/images/bg/woman.jpg" alt="trending-img">
                    </figure>
                    <div class="item-description">
                        <div class="item-caption">RESTRAINED DRESSES</div>
                        <p class="collection-caption">Summer/Autumn Collection</p>
                        <p>
                            Effortlessly transcend day to night in Dodo Bar Or's
                            floor-skimming floral printed dress. This bold silhouette echoes
                            the brand's signature aesthetic, fusing traditional and
                            modern design sensibility.

                        </p>
                        <p>
                            FASHION TIP:<br>
                            With this dress, Balenciaga sandals go hand in hand!
                        </p>
                        <div class="size-list common">
                            <span class="size-item">M</span>
                            <span class="size-item">L</span>
                            <span class="size-item">XL</span>
                            <span class="size-item">XXL</span>
                        </div>
                        <div class="trending-btns common">
                            <a href="#" class="shop-now-btn t-btn">SHOP NOW</a>
                            <a href="#" class="side-guide-btn t-btn">SIZE GUIDE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="item-content">
                    <figure class="item-image">
                        <img src="/images/bg/watches.jpg" alt="trending-img">
                    </figure>
                    <div class="item-description">
                        <div class="item-caption">VINTAGE UNISEX WATCH</div>
                        <p class="collection-caption">Summer/Autumn Collection</p>
                        <p>
                            Classic Nathan Stewart watch.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple, fashion suits almost everybody.<br>
                            It comes in six different colors,and all sizes.
                        </p>
                        <p>
                            FASHION TIP:<br>
                            With this watch any smart casual look go hand in hand!
                        </p>
                        <div class="size-list common">
                            <span class="size-item">M</span>
                            <span class="size-item">L</span>
                            <span class="size-item">XL</span>
                            <span class="size-item">XXL</span>
                        </div>
                        <div class="trending-btns common">
                            <a href="#" class="shop-now-btn t-btn">SHOP NOW</a>
                            <a href="#" class="side-guide-btn t-btn">SIZE GUIDE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="item-content">
                    <figure class="item-image">
                        <img src="/images/bg/t-shirt.jpg" alt="trending-img">
                    </figure>
                    <div class="item-description">
                        <div class="item-caption">BOY'S SUMMER T-SHIRT</div>
                        <p class="collection-caption">Summer Collection</p>
                        <p>
                            Summer t-shirt for boys.<br>
                            This item is loved by many just because of it’s simle style.<br>
                            Simple lines,lovely texture,it suits almost everybody.<br>
                            It comes in six different colors,and all sizes.
                        </p>
                        <p>
                            <span class="fashion-t">FASHION TIP:</span>
                            With this T-shirt, Nathan Stewart sunglasses go hand in hand!
                        </p>
                        <div class="size-list common">
                            <span class="size-item">M</span>
                            <span class="size-item">L</span>
                            <span class="size-item">XL</span>
                            <span class="size-item">XXL</span>
                        </div>
                        <div class="trending-btns common">
                            <a href="#" class="shop-now-btn t-btn">SHOP NOW</a>
                            <a href="#" class="side-guide-btn t-btn">SIZE GUIDE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="owl-dots">-->
            <!--<div class="owl-dot"></div>-->
            <!--<div class="owl-dot"></div>-->
            <!--<div class="owl-dot"></div>-->
        <!--</div>-->
</section>

